# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

### JupyterNotebook ###
.ipynb_checkpoints/

# IPython
profile_default/
ipython_config.py

### Images ###
# Tagged Image File Format
*.tiff
*.tif

# Portable Network Graphics
*.png

# JPEG
*.jpg
*.jpeg
*.jpe
*.jif
*.jfif
*.jfi

# JPEG 2000
*.jp2
*.j2k
*.jpf
*.jpx
*.jpm
*.mj2

### Data ###
data/
tiles/

### Tensorboard logs ###
logs/
runs/

### temp files or swp file ###
*.swp
temp/
tmp/
cache/
backup/
*.pkl

# IDEA
.idea/

# nohup output
nohup.out

# Large image folder
zoom_samples
